
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


*{
    
  font-family: "Poppins", sans-serif;
  

}

.img{
    position: relative;
    height:150px;
    width: 150px;

}

.img.profile-img{
    height: 100%;
    width: 100%;
    object-fit:cover
}
